<div class="flex mt-5 text-2xl">
    Tags:
    {% for item in game.tagGame %}
        <a href="" class="mx-2 text-2xl hover:underline text-rose-600">{{ item  }}</a>
    {% endfor %}
</div>
<div class="flex mt-5 text-2xl">
    Category:
    {% for item in game.typeGame %}
        <a href="" class="mx-2 text-2xl hover:underline text-rose-600">{{ item  }}</a>
    {% endfor %}
</div>
<div class="flex mt-5 text-2xl">
    Studio:
    {% for item in game.devsGame %}
        <a href="" class="mx-2 text-2xl hover:underline text-rose-600">{{ item  }}</a>
    {% endfor %}
</div>
<div class="flex mt-5 text-2xl">
    Publisher:
    {% for item in game.publisher %}
        <a href="" class="mx-2 text-2xl hover:underline text-rose-600">{{ item  }}</a>
    {% endfor %}
</div>
<div class="flex mt-5 text-2xl">
    Release: {{game.yearRelease}}
</div>