<div x-show="dropdownOpen" class="absolute -right-16 mt-2.5 flex h-auto w-[384px] 
flex-col rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-slate-500 sm:right-0 sm:w-[384px]">
    <div class="px-4.5 py-3">
    <h5 class="text-sm font-medium text-black dark:text-white">Wish list</h5>
    </div>

    <div data-inspector="8:19" class="bg-white shadow-lg dark:bg-slate-500 rounded-3xl">
        <div  class="px-4 py-1 sm:px-4 sm:py-2">
            <div  class="flow-root">
                {% if user_session.Cart|length == 0 %}
                    <ul  class="my-0 overflow-y-scroll rounded-md max-h-60 no-scrollbar">
                       No game in cart
                    </ul>
                {% else %}
                <ul class="my-0 overflow-y-scroll rounded-md max-h-60 no-scrollbar">
                    {% for item in user_session.Cart %}
                        <li  class="flex flex-row py-2 space-x-5 space-y-0 text-left">
                            <div  class="relative shrink-0">
                            <span  class="absolute flex items-center justify-center w-6 h-6 text-sm font-medium text-gray-500 bg-white border rounded-full shadow top-1 left-1 sm:-top-2 sm:-right-2">1</span>
                            <img  class="object-cover w-24 h-24 max-w-full rounded-lg" src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c25lYWtlcnxlbnwwfHwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=150&amp;q=60" alt="">
                            </div>
            
                            <div  class="relative flex flex-col justify-between flex-1">
                            <div  class="sm:col-gap-5 sm:grid sm:grid-cols-2">
                                <div  class="pr-8 sm:pr-5">
                                <p  class="text-base font-semibold text-gray-900 dark:text-white">Nike Air Max 2019</p>
                                <p  class="mx-0 mt-1 mb-0 text-sm text-gray-400 dark:text-white">36EU - 4US</p>
                                </div>
            
                                <div  class="flex items-end justify-between mt-4 sm:mt-0 sm:items-start sm:justify-end">
                                <p  class="w-20 mr-2 text-base font-semibold text-gray-900 shrink-0 sm:order-2 sm:ml-8 sm:text-right dark:text-white">$1259.00</p>
                                </div>
                            </div>
            
                            <div  class="absolute top-0 right-0 flex sm:bottom-0 sm:top-auto">
                                <button  type="button" class="flex p-2 text-center text-gray-500 transition-all duration-200 ease-in-out rounded dark:text-white focus:shadow hover:text-gray-900">
                                <svg class="block w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" class=""></path>
                                </svg>
                                </button>
                            </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
                    
            
            </div>
    
    
            {% comment %} <div  class="py-1 space-y-3 border-t border-b mt-22">
                <div  class="flex items-center justify-between">
                <p  class="text-gray-400 dark:text-white">Subtotal</p>
                <p  class="text-lg font-semibold text-gray-900 dark:text-white">$</p>
                </div>
                <div  class="flex items-center justify-between">
                <p  class="text-gray-400 dark:text-white">Shipping</p>
                <p  class="text-lg font-semibold text-gray-900 dark:text-white">$</p>
                </div>
            </div>
            <div  class="flex items-center justify-between mt-1">
                <p  class="text-sm font-medium text-gray-900 dark:text-white">Total</p>
                <p  class="text-2xl font-semibold text-gray-900 dark:text-white"><span  class="text-xs font-normal text-gray-400 dark:text-white">USD</span> 2499.00</p>
            </div> {% endcomment %}
    
            <div  class="mt-2 text-center">
                <button  type="button" class="inline-flex items-center justify-center w-full px-6 py-4 text-lg font-semibold text-white transition-all duration-200 ease-in-out bg-orange-500 rounded-md group focus:shadow hover:bg-gray-800">
                Place Order
                <svg  xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 ml-4 transition-all group-hover:ml-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path  stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
                </svg>
                </button>
            </div>
            </div>
        </div>
</div>